<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>

    {{#if mainpage}}


    <div class="caption">
        <h1>Business News Scraper</h1>
        <p>Financial Post Bloomberg Edition</p>
    </div>

    {{else}}

    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Financial Post Bloomberg Edition</p>
    </div>

    {{/if}}


</div>

<div class="container-fluid article-container">

</div>